html[data-theme='terminal'] {
	--color-font-primary: rgba(255, 255, 255, 0.9);
	--color-font-secondary: rgba(255, 255, 255, 0.8);
	--color-font-tertiary: rgba(255, 255, 255, 0.6);
	--color-font-quaternary: rgba(255, 255, 255, 0.4);
	--color-font-inverse: rgba(0, 6, 38, 0.9);

	/* TODO: make these match the theme better */
	/* --color-font-code-1: var(--color-core-blue-dark);
	--color-font-code-2: var(--color-core-green-dark);
	--color-font-code-3: var(--color-core-purple-dark);
	--color-font-code-4: var(--color-core-red-dark);
	--color-font-code-5: var(--color-core-orange-dark);
	--color-font-code-6: var(--color-core-teal-dark);
	--color-font-code-7: var(--color-core-pink-dark); */

	--color-background-primary: #000;
	--color-background-secondary: var(--color-neutral-950);
	--color-background-tertiary: var(--color-neutral-900);
	--color-background-highlight: var(--color-core-yellow-light);
	--color-background-success: var(--color-core-green-light);
	--color-background-error: var(--color-core-red-light);

	--color-background-selection: hsl(from var(--color-brand-primary) h s l/ 0.25);

	--color-brand-primary: var(--color-green-400);
	--color-brand-secondary: var(--color-lime-400);

	--color-border-primary: rgba(255, 255, 255, 0.6);
	--color-border-secondary: rgba(255, 255, 255, 0.4);
	--color-border-tertiary: rgba(255, 255, 255, 0.2);
}

[data-theme='terminal'][data-color-mode='light'] {
	--color-font-primary: rgba(0, 6, 38, 0.9);
	--color-font-secondary: rgba(0, 6, 38, 0.8);
	--color-font-tertiary: rgba(0, 6, 38, 0.6);
	--color-font-quaternary: rgba(0, 6, 38, 0.4);
	--color-font-inverse: rgba(255, 255, 255, 0.9);

	/* --color-font-code-1: var(--color-core-blue-dark);
	--color-font-code-2: var(--color-core-green-dark);
	--color-font-code-3: var(--color-core-purple-dark);
	--color-font-code-4: var(--color-core-red-dark);
	--color-font-code-5: var(--color-core-orange-dark);
	--color-font-code-6: var(--color-core-teal-dark);
	--color-font-code-7: var(--color-core-pink-dark); */

	--color-background-primary: var(--color-core-white);
	--color-background-secondary: var(--color-core-gray-10);
	--color-background-tertiary: var(--color-core-gray-20);
	--color-background-highlight: var(--color-core-yellow-light);
	--color-background-success: var(--color-core-green-light);
	--color-background-error: var(--color-core-red-light);

	--color-background-selection: hsl(from var(--color-green-400) h s l/ 0.25);

	--color-brand-primary: var(--color-green-700);
	--color-brand-secondary: var(--color-lime-700);

	--color-border-primary: rgba(0, 6, 38, 0.4);
	--color-border-secondary: rgba(0, 6, 38, 0.2);
	--color-border-tertiary: rgba(0, 6, 38, 0.1);
}
