---
import { Image } from 'astro:assets';
import JavaScript from '../icons/JavaScript.astro';
import TypeScript from '../icons/TypeScript.astro';
import AWS from '../icons/AWS.astro';
import GraphQL from '../icons/GraphQL.astro';
import React from '../icons/React.astro';
import Nextjs from '../icons/Nextjs.astro';
import dangieImage from '../img/dangie.jpg';
import profileImage from '../img/profile-pic.jpg';
import bobsImage from '../img/bobs-burgers.jpg';
import Layout from '../layouts/Layout.astro';
import HTML from '../icons/HTML.astro';
import CSS from '../icons/CSS.astro';
import Figma from '../icons/Figma.astro';
import Bluesky from 'src/icons/Bluesky.astro';
import Github from 'src/icons/Github.astro';
import Linkedin from 'src/icons/Linkedin.astro';
---

<Layout>
	<div class="page-header">
		<h1>About</h1>
	</div>
	<div style="position: relative">
		<div class="grid bg-diagonal">
			<div class="grid-item" style="grid-area:intro">
				<p>
					Danny Banks has over fifteen years of experience as a UX Designer, Frontend Engineer,
					Product Manager, and developer of design systems and cross-platform UI tools. Since 2021
					he has led the <a href="https://ui.docs.amplify.aws">Amplify UI</a> team to help designers
					and developers build web and mobile apps on AWS. Before working on the Amplify team, Danny
					was a Sr. UX Designer and Principal Design Technologist at Amazon where he oversaw UX design
					and research for the Seller Mobile app, an app that allows sellers to manage their Amazon business
					via their mobile device. In that role at Amazon, Danny also developed, and continues to maintain,
					the open source Style Dictionary framework. The Style Dictionary framework organizes cross-platform
					style and design information to reduce the cost to make app-wide style changes.
				</p>
			</div>
			<div class="grid-item wide" style="grid-area:img">
				<Image src={profileImage} alt="" />
				<figcaption>Thats me circa 2017</figcaption>
			</div>
			<div class="grid-item" style="grid-area:pronouns">
				<div>
					My pronouns are <strong>he/him</strong>
				</div>
			</div>
			<div class="grid-item bottom" style="grid-area:social">
				<div class="social-links">
					<a class="social-link" href="https://bsky.app/profile/dbanks.design" target="_blank">
						<span class="sr-only">Follow Danny on Bluesky</span>
						<Bluesky />
						@dbanks.design
					</a>
					<a class="social-link" href="https://github.com/dbanksdesign" target="_blank">
						<span class="sr-only">Follow Danny on Github</span>
						<Github />
						@dbanksdesign
					</a>
					<a class="social-link" href="https://linkedin.com/in/dbanksdesign" target="_blank">
						<span class="sr-only">Follow Danny on LinkedIn</span>
						<Linkedin />
						@dbanksdesign
					</a>
				</div>
			</div>
			<div class="grid-item" style="grid-area:skills">
				<div class="skills">
					<div class="skill html">
						<HTML />
						HTML
					</div>
					<div class="skill css">
						<CSS />
						CSS
					</div>
					<div class="skill javascript">
						<JavaScript />
						JavaScript
					</div>
					<div class="skill typescript">
						<TypeScript />
						TypeScript
					</div>
					<div class="skill react">
						<React />
						React
					</div>
					<div class="skill react-native">
						<React />
						React Native
					</div>
					<div class="skill nextjs">
						<Nextjs />
						NextJS
					</div>
					<div class="skill aws">
						<AWS />
						AWS
					</div>
					<div class="skill graphql">
						<GraphQL />
						GraphQL
					</div>

					<div class="skill figma">
						<Figma />
						Figma
					</div>
				</div>
			</div>
			<div class="grid-item wide" style="grid-area:wed">
				<Image src={dangieImage} alt="" />
				<figcaption>Wedding day. 2017</figcaption>
			</div>
			<div class="grid-item" style="grid-area:cite">
				<div class="quotes">
					<blockquote>
						Danny Banks is one of those rare consummate frontend engineers with design
						sensibilities, which is entirely why he's been able to lead a project as ambitious as
						AWS Amplify UI to success.
						<cite>Rachel Lee Nabors</cite>
					</blockquote>
					<blockquote>
						When I started at Spokeo, Danny was the go-to guy for CSS. Seriously, the guy knows
						everything there is to know about CSS. Over the past several years, I have watched Danny
						evolve into a very well-rounded developer as well.
						<cite>David Butler</cite>
					</blockquote>
				</div>
			</div>
			<div class="grid-item" style="grid-area:exp">
				<div class="experience">
					<h2>Experience</h2>
					<section>
						<div class="experience-company">AWS Amplify</div>
						<div class="experience-title">Principal Design Technologist</div>
						<date class="experience-date">Apr 2021 - Present</date>
					</section>
					<section>
						<div class="experience-company">Amazon Seller</div>
						<div class="experience-title">Principal Design Technologist</div>
						<date class="experience-date">Nov 2019 - Apr 2021</date>
					</section>
					<section>
						<div class="experience-company">Amazon Seller</div>
						<div class="experience-title">Senior UX Designer</div>
						<date class="experience-date">Mar 2016 - Nov 2019</date>
					</section>
					<section>
						<div class="experience-company">Amazon Seller</div>
						<div class="experience-title">UX Designer</div>
						<date class="experience-date">Sep 2014 - Mar 2016</date>
					</section>
					<section>
						<div class="experience-company">Spokeo</div>
						<div class="experience-title">Lead User Interface Designer</div>
						<date class="experience-date">Jul 2010 - Aug 2014</date>
					</section>
				</div>
			</div>
			<div class="grid-item wide" style="grid-area:bobs">
				<Image src={bobsImage} alt="" />
				<figcaption>
					Our family as Bob's Burgers characters. Note: this is NOT AI generated. <a
						href="https://www.etsy.com/shop/KateSketchBook"
						target="_blank">Support local artists</a
					>.
				</figcaption>
			</div>
		</div>
	</div>
</Layout>

<style>
	h2 {
		margin: 0;
	}

	blockquote {
		font-style: italic;
	}

	cite {
		display: block;
	}

	.quotes {
		display: flex;
		flex-direction: column;
		gap: var(--space-medium);
	}

	.experience {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-small);
		width: 100%;
	}

	.experience-title {
		font-weight: bold;
	}

	.experience-date {
		color: var(--color-font-tertiary);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	.grid-item {
		background-color: var(--color-background-primary);
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.grid {
		display: flex;
		flex-direction: column;
		padding: var(--space-xl);
		position: relative;
	}

	.grid::after,
	.grid::before {
		content: '';
		position: absolute;
	}

	.grid::after {
		top: 0;
		right: var(--space-xl);
		bottom: 0;
		border-right: 1px solid var(--color-border-tertiary);
	}

	.grid::before {
		top: var(--space-xl);
		right: 0;
		left: 0;
		border-top: 1px solid var(--color-border-tertiary);
	}

	@media (min-width: 600px) {
		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				'intro intro'
				'img wed'
				'social pronouns'
				'cite skills'
				'exp exp'
				'bobs bobs';
		}
	}

	@media (min-width: 800px) {
		.grid {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-areas:
				'intro intro intro intro img img'
				'cite cite cite exp exp exp'
				'wed wed wed wed skills skills'
				'pronouns pronouns pronouns pronouns skills skills'
				'social social bobs bobs bobs bobs';
		}
	}

	@media (min-width: 1200px) {
		.grid {
			grid-template-columns: repeat(8, 1fr);
			grid-template-areas:
				'intro intro intro intro img img social social'
				'intro intro intro intro pronouns pronouns skills skills'
				'wed wed wed exp exp exp skills skills'
				'cite cite cite bobs bobs bobs bobs bobs';
		}
	}

	.skills {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--space-small);
	}

	.skill {
		padding: var(--space-small) var(--space-medium);
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--space-small);
	}

	.skill > :global(svg) {
		width: 1.5em;
		height: 1.5em;
	}

	.javascript {
		background-color: yellow;
		color: black;
	}

	.typescript {
		background-color: #3178c6;
		color: white;
	}

	.react {
		background-color: #58c4dc;
		color: #404756;
	}

	.react-native {
		background-color: #404756;
		color: #58c4dc;
	}

	.graphql {
		color: #000;
		background-color: #f6009c;
	}

	.nextjs {
		background-color: #000;
		color: #fff;
	}

	.aws {
		background-color: #141f2e;
		color: #f90;
	}

	.html {
		background-color: #e44d27;
		color: #000;
	}

	.css {
		background-color: #1572b6;
		color: #fff;
	}

	.figma {
		background-color: #000;
		color: #fff;
	}
</style>
