---
import FileIcon from './FileIcon.astro';
type Props = {
  items: {
    name: string;
    description: string;
    type: string;
    items: Props['items']
  }[]
}
const { items } = Astro.props;
---

<ul class="file-tree">
  {items.map(item => (
    <li class="file-tree-item">
      <FileIcon type={item.type} />
      {/* <FolderOpen /> */}
      {item.name}
      <span class="file-tree-item-description">{item.description}</span>
      {item.items && item.items.length ? <Astro.self items={item.items} /> : null}
    </li>
  ))}
</ul>
