---
import Github from '../icons/Github.astro';
import Bluesky from '../icons/Bluesky.astro';
import Email from '../icons/Email.astro';
import Linkedin from '../icons/Linkedin.astro';
import AstroIcon from 'src/icons/Astro.astro';
import Amplify from 'src/icons/Amplify.astro';
const today = new Date();
---

<footer class="bg-dots">
	<div class="footer-copy">
		<p>
			&copy; {today.getFullYear()} Danny Banks, but this code is all <a
				href="https://github.com/dbanksdesign/dbanksdesign-astro"
				target="_blank">open-source</a
			>.
		</p>
		<p>Built with:</p>
		<div class="technology">
			<a class="technology-item" href="https://astro.build" target="_blank">
				<AstroIcon />
				Astro
			</a>
			<a class="technology-item" href="https://docs.amplify.aws" target="_blank">
				<Amplify /> Amplify
			</a>
		</div>
	</div>
	<div class="social-links">
		<a class="social-link" href="https://bsky.app/profile/dbanks.design" target="_blank">
			<span class="sr-only">Follow Danny on Bluesky</span>
			<Bluesky />
			@dbanks.design
		</a>
		<a class="social-link" href="https://github.com/dbanksdesign" target="_blank">
			<span class="sr-only">Follow Danny on Github</span>
			<Github />
			@dbanksdesign
		</a>
		<a class="social-link" href="https://linkedin.com/in/dbanksdesign" target="_blank">
			<span class="sr-only">Follow Danny on LinkedIn</span>
			<Linkedin />
			@dbanksdesign
		</a>

		<a class="social-link" href="mailto:dbanks.design@gmail.com" target="_blank">
			<Email />
			dbanks.design@gmail.com
		</a>
	</div>
</footer>

<style is:global>
	footer {
		padding: var(--space-xl);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
	}

	footer::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-block-start: 1px solid var(--color-border-secondary);
	}

	.technology {
		display: flex;
		flex-direction: row;
		gap: var(--space-medium);
	}

	.technology-item {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: var(--space-small);
	}

	.technology-item > svg {
		height: 1em;
	}

	.footer-copy {
		padding: var(--space-large) 0;
	}

	.social-links {
		display: flex;
		position: relative;
		justify-content: center;
		flex-direction: column;
		gap: var(--space-medium);
		padding: var(--space-large);
	}

	/* footer .social-links::after {
		content: '';
		position: absolute;
		top: 0;
		left: -1rem;
		border-top: 1px solid var(--color-border-tertiary);
		width: 2rem;
	}

	footer .social-links::before {
		content: '';
		position: absolute;
		top: -1rem;
		left: 0;
		border-left: 1px solid var(--color-border-tertiary);
		height: 2rem;
	} */

	.social-link {
		text-decoration: none;
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding: var(--space-small);
		gap: var(--space-small);
		color: var(--color-font-secondary);
		position: relative;
	}

	.social-link + .social-link::after {
		content: '';
		position: absolute;
		top: calc(-1 * var(--space-small));
		left: var(--space-small);
		width: 25%;
		border-top: 1px solid var(--color-border-secondary);
	}

	.social-link > svg {
		width: 1em;
		height: 1em;
	}

	.social-link:hover {
		color: var(--color-font-link);
	}
</style>
