---
import HeaderLink from './HeaderLink.astro';
import ColorModeSwitcher from './ColorModeSwitcher.astro';
import ThemePicker from './ThemePicker.astro';
import Logo from '../icons/Logo.astro';
---

<header>
	<a href="/">
		<Logo />
	</a>
	<nav class="nav-links">
		<div class="active-indicator" transition:persist />
		<HeaderLink class="header-link" href="/blog">Blog</HeaderLink>
		<HeaderLink class="header-link" href="/about">About</HeaderLink>
		<HeaderLink class="header-link" href="/work">Work</HeaderLink>
	</nav>
	<div class="header-buttons">
		<ColorModeSwitcher />
		<ThemePicker />
	</div>
</header>

<style>
	header {
		z-index: 99;
		position: sticky;
		left: 0;
		top: 0;
		padding: 0 var(--space-large);
		display: flex;
		flex-direction: row;
		height: var(--header-height);
	}

	header::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: hsl(from var(--color-brand-primary) h s l/ .5);
	}

	header::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-color: transparent;
    background-image: radial-gradient(transparent 1px, var(--color-background-primary) 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
	}

	nav {

	}
	nav a {
		padding: 0 var(--space-medium);
		color: var(--color-font-secondary);
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	nav a.active {
		text-decoration: none;
	}

	.nav-links,
	.header-buttons {
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-end;
	}

	.nav-links {
		flex: 1;
	}

	.header-link {
		z-index: 2;
		position: relative;
	}

	.active-indicator {
		position: absolute;
		/* bottom: 0; */
		top: 0;
		height: 5px;
		/* border-radius: 5px; */
		background-color: var(--color-brand-primary);
		transition: all var(--spring-animation);
		width: 0;
		left: 50%;
		/* box-shadow: 0 0 5px hsl(from var(--color-brand-primary) h s l/ .5); */
	}

</style>

<script>
document.addEventListener('astro:page-load', () => {
	const activeLink = document.querySelector('.header-link.active') as HTMLLinkElement;
	const activeIndicator = document.querySelector('.active-indicator') as HTMLDivElement;

	activeIndicator.style.width = `${activeLink.offsetWidth}px`
	activeIndicator.style.left = `${activeLink.offsetLeft}px`
});
</script>
